@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

html,
body {
  height: 100%;
  margin: 0;
  /* background-color: #121212; Dark background color */
  transition: background-color 0.3s ease-in-out;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.insert-button {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  animation: bounce 2s infinite;
  z-index: 10000;
}

.insert-button:hover {
  opacity: 1;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Full screen height for centering */
}

.border {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}

.card {
  height: 379px;
  width: 300px;
  background: #333;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  opacity: 0;
  animation: dropBounce 1s forwards; /* Apply the drop and bounce animation */
}

.card:nth-child(1) {
  animation-delay: 0.1s;
}

.card:nth-child(2) {
  animation-delay: 0.2s;
}

.card:nth-child(3) {
  animation-delay: 0.3s;
}

/* Add more nth-child selectors if needed for additional cards */

@keyframes dropBounce {
  0% {
    transform: translateY(-100vh);
    opacity: 0;
  }
  100% {
    transform: translateY(10px);
    opacity: 1;
  }
  /* 80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  } */
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1); /* Slight background overlay */
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.card:hover .info {
  opacity: 1;
  background: rgba(0, 0, 0, 0.7); /* Darker background on hover */
}

.card:hover h2,
.card:hover .fa {
  opacity: 1;
}

h2,
h6 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
  margin-bottom: -20px;
}

.fa {
  opacity: 0;
  transition: opacity 1s;
}

.icons {
  position: absolute;
  fill: #fff;
  color: #fff;
  height: 130px;
  top: 176px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.info {
  opacity: 0;
  transition: opacity 0.8s ease, background-color 0.8s ease;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  padding: 10px 15px;
  color: white;
  border: none;
  border-radius: 0 0 10px 10px;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.info:hover {
  background: rgba(0, 0, 0, 0.5);
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f9;
  padding: 20px;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  padding: 40px;
  text-align: center;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #ddd;
  margin-bottom: 20px;
  visibility: visible !important;
}

.profile-details {
  width: 100%;
}

.profile-details h1 {
  font-size: 2em;
  color: #333;
  margin: 0;
}

.profile-details h2 {
  font-size: 1.5em;
  color: #666;
  margin: 5px 0 20px;
}

.profile-details p {
  color: #444;
  margin: 10px 0;
  text-align: left;
  padding: 0 20px;
}

.social-links {
  margin-top: 20px;
}

.social-links a {
  color: #333;
  margin: 0 10px;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #0073e6;
}

.social-links a svg {
  vertical-align: middle;
}

.back-button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #0073e6;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.back-button:hover {
  background-color: #005bb5;
  transform: scale(1.05);
}

.landing-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  animation: fadeIn 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.landing-page.hidden {
  opacity: 0;
  pointer-events: none;
}

.landing-page img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.landing-content {
  position: relative;
  z-index: 10000;
  text-align: center;
  color: white;
  animation: fadeInText 2s ease-in-out;
}

.landing-content h1 {
  font-size: 4em;
  margin: 0;
}

.landing-content p {
  font-size: 2em;
  margin: 10px 0 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInText {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #a8c0ff;
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
